:root{
    // colors
    --color-text-black:#333333;
    --color-text-white:#fff;
    --color-text-gray: #777777;
    --color-background:#fff;
    --color-body-prime:#870F10;
    --color-body-secondary:#B7B7B7;
    --color-body-icons: #666666;
    --color-button: #B41C1B;
    --color-input: #EEEEEE;

    // font 

}